* {
    margin: 0;
}

#root {
    background-color: #fefefb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
